
body {
  font-family: HelveticaNeue;
  background-color: #f6f6f6;
  margin-left: 40px;
  margin-top: 60px;
}

h1 {
  color: blue;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
  line-height: 50px;
}

h2 {
  font-family: Times New Roman;
  font-size: 30px;
  font-weight: 100;
  line-height: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}

h6 {
  font-size: 12px;
}

a {
  color: blue;
  font-weight: bold;
}

ul {
  font-size: 18px;
  line-height: 28px;
}

hr {
  max-width: 500px;
  align-content: flex-start;
}

p {
  line-height: 30px;
}
